@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 350px;

  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
}

main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

h1,
h2,
h3,
blockquote {
  font-family: elevon, sans-serif;
  font-weight: 700;
  font-style: normal;
}

.mobile {
  display: none;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  font-size: 2.5rem;
  padding: 2rem;
  margin-bottom: var(--spacing);
}

header p {
  font-size: 1.2rem;
}

section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
}

blockquote {
  margin: 0;
  padding: 0;
  grid-column: 2 / span 9;
  margin-bottom: var(--spacing);
}

blockquote p {
  color: black;
  background-color: rgba(253, 237, 237, 0.8);
  font-size: 4rem;
  display: inline;
  line-height: 1.2;
}

.left {
  grid-column: 6 / 12;
}

a {
  text-decoration: none;
  color: white;
}

@media (max-width: 500px) {
  header,
  blockquote,
  section,
  .left {
    grid-column: 2 / 11;
    text-align: center;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 2.5rem;
  }

  .mobile i {
    font-size: 2rem;
  }

  .desk {
    display: none;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2,
  blockquote p {
    font-size: 2rem;
  }

  h3,
  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  li {
    text-align: left;
  }
}
